# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl
.Python
pip-log.txt
pip-delete-this-directory.txt

# 虚拟环境
venv/
env/
.venv/
.env_backup/

# 环境变量（含 API Key，不可上传）
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# 日志
*.log
logs/

# 缓存数据（本地生成，无需上传）
stock_data.json
*.cache

# Jupyter
.ipynb_checkpoints/
*.ipynb

# 临时文件
*.tmp
*.temp
nul

# 测试覆盖率
.coverage
htmlcov/
.pytest_cache/
